body {
	background-color: #3AC581;
}
#App {
	width:230px;
	height:290px;
}
#Main {
	height: 100%;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	align-items:center;
}
#logoHolder {
	width:100%;
	display: flex;
	justify-content:center;
}
#logo {
	width:40px;
	height:40px;
	justify-content:center;
	animation: 3500ms pulse 1500ms ease-in-out infinite;
    -webkit-animation: 3500ms pulse 1500ms ease-in-out infinite;
}

#searchHolder {
	cursor: pointer;
	animation: 3500ms oppositePulse 1500ms ease-in-out infinite;
    -webkit-animation: 3500ms oppositePulse 1500ms ease-in-out infinite;

}



#Loader {
	opacity:0.0;
	position:absolute;
	left:50%;
	top:50%;
	transform: translateX(-50%) translateY(-50%);
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width: 100%;
	z-index: -50;
}
#LoaderGif {
	width:50px;
	height:50px;
}

#Loader p{
	color:white;
}



#GraphsHolder {
	opacity:0.0;
	top:0px;
	left:0px;
	z-index: -100;
	position: absolute;
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;

}

.Graph{
	display: flex;
	flex-direction:column;
	align-items:center;
}

.Graph h{
	color:white;
	font-family: 'Raleway';
	font-size:22px;
}

#BackButton {
	opacity:0.0;
	position:absolute;
	top:0px;
	right:0px;
	width:50px;
	height:50px;
	display: flex;
	justify-content:center;
	align-items:center;
	margin-top:10px;
	cursor:pointer;
	z-index:150;
}

#BackButton img {
	width:25px;
	height:25px;
	-webkit-transform: rotate(90deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(90deg);        /* FF */
  -o-transform: rotate(90deg);          /* Opera */
  -ms-transform: rotate(90deg);         /* IE9 */
  transform: rotate(90deg);
}

.BarSection {
	display:flex;
	flex-direction:row;
	width:100%;
	height:25px;
	margin-top:15px;
}

.BarSection h{
	font-size:15px;
	margin-left:20px;
	margin-right:20px;
	width:70px;
}

.Bar {
	height: 17.5px;
	width:0px;
	background-color:white;
	border-radius:2.5px;
}

#EmotionToneGraph {
	height:200px;
}

#LaguageStyleGraph {
	height: 150px;
}

#SocialTendenciesGraph {
	height:200px;
}


#StudyNote {
	width:100%;
	text-align: center;
	color:white;
	height:50px;
	padding-top: 20px;
}
